.row{ 
    background-color:#040d3f;
    font-family: Century Gothic;
}
footer{ 
    color: #fefefe;
    font-size: 18px;
    display:flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 2px 5px #999;
}