<section class="vh-100 gradient-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-secondary text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
<div class="container"> 
    <div class="row"> 
        <div> 
            <div class="titulo"><h1>Nueva Experiencia Laboral</h1></div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm"> 
                <div class="form-group">
                    <h5><label for="nombreE">Nombre de la empresa</label></h5>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>
                </div>
                <div class="form-group">
                   <h5><label for="fechaI">Fecha de inicio</label></h5> 
                    <input type="text" class="form-control" id="fechaI" name="fechaI"  [(ngModel)]="fechaI" required>
                </div>
                <div class="form-group">
                    <h5><label for="fechaF">Fecha final</label></h5> 
                    <input type="text" class="form-control" id="fechaF" name="fechaF" [(ngModel)]="fechaF" required>
                </div>
                <div class="form-group">
                    <h5><label for="descripcionE">Descripción</label></h5> 
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required>
                </div>
                <div class="form-group">
                    <h5><label for="imagenE">URL-logo de la empresa</label></h5> 
                    <input type="text" class="form-control" id="imagenE" name="imagenE" [(ngModel)]="imagenExp" required>
                </div>
                <div class="boton">
                    <button class="btn btn-secondary"><h5>
                        Agregar Experiencia
                    </h5></button></div>
            </form>
        </div>
    </div>
</div>
            </div>
        </div>
      </div>
      </div>
</section>
