.row{ 
    background-color: #9194a0; 
    padding: 20px;
    font-family: Century Gothic;
    border-bottom: 12px solid #b7bac5;
    
}
h1{ 
    color:aliceblue
}
.circulo{ 
    display:flex;
    flex-direction: column;
    align-items: center;
}