<section class="vh-100 gradient-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-secondary text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center"> 
<div class="container" *ngIf="acercadm"> 
  <div class="row"> 
      <div> 
          <form (ngSubmit)="onUpdate()" novalidate #f="ngForm"> 
            <div class="titulo"><h1>Acerca de mí</h1></div>
              <div class="form-group">
                 <h4><label for="descripcion">Descripción</label></h4> 
                  <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="acercadm.descripcion" required>
              </div>
              <div class="boton">
                <button class="btn btn-secondary"><h5>
                    Actualizar
                  </h5></button></div>
          </form>
      </div>
  </div>
</div></div>
